
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
              <ul class="nav flex-column">

                <div class="list-group">
                    <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" 
                    href="/home" role="tab" aria-controls="home">Главная</a>
                    <a class="list-group-item list-group-item-action list-group-item-danger" id="list-profile-list" data-toggle="list" 
                    href="/statistic" role="tab" aria-controls="profile">Статистика</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" 
                    href="/statonline" role="tab" aria-controls="messages">Онлайн статистика</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" 
                    href="/setting" role="tab" aria-controls="settings">Настройки</a>
                  </div>
                  
           
            
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Статистика
              </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

        

        


          <div *ngIf="response">
              <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-dark" >
                      <tr>
                        <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let el of dataSource.reverse() | slice:(page-1)*10:page*10 ">
            


                        <th scope="row">{{el.date | date: 'dd MMM yyyy'}}</th>
                        <td>{{el.friends }}</td>
                        <td>{{el.groups  }}</td>
                        <td>{{el.followers  }}</td>
                        <td>{{el.subscriptions }}</td>
                        <td>{{el.albums  }}</td>
                        <td>{{el.videos  }}</td>
                        <td>{{el.audios  }}</td>
                        <td>{{el.notes  }}</td>
                        <td>{{el.gifts  }}</td>
          
                      </tr>

           
                    </tbody>
         

                     
                
                    </table>    
                        <ngb-pagination  class="d-flex justify-content-center" [collectionSize]="dataSource.length" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                       
                    </div>
                  </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   