<div class="row">
    <div class="col-md-2 col-md-offset-5"></div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 bg-gradient-info">
      <div class="p-10" style="height: 1500px;">

          <form class="form-signin">
            <div *ngIf="condition; then thenBlock else elseBlock"></div>   
            <ng-template #thenBlock>
             <p>
                <ngb-alert type="danger" [dismissible]="false">
                <strong>Ошибка!</strong> Неверные данные. Попробуйте занова
              </ngb-alert>
            </p>
          </ng-template>  
           
            <ng-template #elseBlock></ng-template>   

   
                   
          <ng-template #elseBlock></ng-template>   
          <div *ngIf="condition2; then thenBlock2 else elseBlock2"></div>   
          <ng-template #thenBlock2>
           <p>
            <ngb-alert type="danger" [dismissible]="false">
              <strong>Ошибка!</strong> Заполните пустые поля
            </ngb-alert>
          </p>
        </ng-template>  
        
          <ng-template #elseBlock2></ng-template>   
          
               <div *ngIf="condition3; then thenBlock3 else elseBlock3"></div>   
          <ng-template #thenBlock3>
           <p>
            <ngb-alert type="danger" [dismissible]="false">
              <strong>Ошибка!</strong> Email не соответствует
            </ngb-alert>
          </p>
        </ng-template>  
        
          <ng-template #elseBlock3></ng-template>   
          

              <div class="row justify-content-center">
                <h1 class="h3 mb-3 font-weight-normal">Введите данные </h1>
              </div>
              <label></label>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email" [(ngModel)]="email" >
              <label></label>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" [(ngModel)]="password">
              <div class="checkbox mb-4">
                <label>
                    <p >   </p>       <p >   </p>       <p >   </p>  
                  <input type="checkbox" value="remember-me"> Запомнить меня
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login(email,password)">Войти</button>
              <p class="mt-5 mb-3 text-muted text-center">&copy; 2018-2019</p>
            </form>
      </div>

     

  </div>
  <div class="col-md-4"></div>
</div>
 
 

