<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
User Name:<input type="text" [(ngModel)]="userName">
<button (click)="search()">Search</button>
<div *ngIf="response"> 
<img src="{{response.avatar_url}}" alt="">
</div>
<button class="btn-primary" (click)="search2()">Search2</button> -->

<nav class="navbar navbar-light  fixed-left" style="background-color: #0095ff;">
  <a class="navbar-brand text-white" href="/">VK Statistic</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link text-white" href="/about">About</a>
      <a class="nav-item nav-link text-white" href="/regApp">Регистрация приложения</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <div *ngIf="condition; then thenBlock else elseBlock"></div>   
        <ng-template #thenBlock>
            <a class="nav-item nav-link text-white" href="login">Войти</a>
      </ng-template>  
       
        <ng-template #elseBlock> <a class="nav-item nav-link text-white" href="logout">Выйти</a></ng-template>   
     
      <a class="nav-item nav-link text-white" href="registration">Регистрация</a>
    </div>
  </div>
</nav>

<div *ngIf="condition2; then thenBlock2 else elseBlock2"></div>   
<ng-template #elseBlock2>  


  
 </ng-template> 

<!-- 
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
           
          </div>
          
        </div> -->
   
  
   

<!--/.Navbar-->
<router-outlet></router-outlet>
